.county {
    fill: #ccc;
    fill-opacity: 0.1;
    opacity: 1;
    stroke: #000;
    stroke-width: 1px;
}

.county:hover {
    fill: red;
    fill-opacity: 0.5;
    stroke-width: 3px;
}

.tract {
    fill: #ffd;
    stroke: #000;
    opacity: 1;
    stroke-width: .5px;
    stroke-opacity: 0.4;
}

.caption {
    font-weight: bold;
}

.key path {
    display: none;
}

.key line {
    stroke: #000;
    shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 75px;
    padding: 2px;
    font: 12px sans-serif;
    color: white;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
